* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: aqua;
}

.main1 {
    text-align: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

input {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.qrimg {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.qrimg img {
    margin-top: 20px;
    width: 200px;
    height: auto;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 8px;
}

.qrimg.expanded {
    max-height: 300px;
}
